CORE_CONF_fs_defaultFS=
CORE_CONF_hadoop_http_staticuser_user=
CORE_CONF_hadoop_proxyuser_hue_hosts=
CORE_CONF_hadoop_proxyuser_hue_groups=
CORE_CONF_io_compression_codecs=

HDFS_CONF_dfs_webhdfs_enabled=
HDFS_CONF_dfs_permissions_enabled=
HDFS_CONF_dfs_namenode_datanode_registration_ip___hostname___check=

YARN_CONF_yarn_log___aggregation___enable=
YARN_CONF_yarn_log_server_url=
YARN_CONF_yarn_resourcemanager_recovery_enabled=
YARN_CONF_yarn_resourcemanager_store_class=
YARN_CONF_yarn_resourcemanager_scheduler_class=
YARN_CONF_yarn_scheduler_capacity_root_default_maximum___allocation___mb=
YARN_CONF_yarn_scheduler_capacity_root_default_maximum___allocation___vcores=
YARN_CONF_yarn_resourcemanager_fs_state___store_uri=
YARN_CONF_yarn_resourcemanager_system___metrics___publisher_enabled=
YARN_CONF_yarn_resourcemanager_hostname=
YARN_CONF_yarn_resourcemanager_address=
YARN_CONF_yarn_resourcemanager_scheduler_address=
YARN_CONF_yarn_resourcemanager_resource__tracker_address=
YARN_CONF_yarn_timeline___service_enabled=
YARN_CONF_yarn_timeline___service_generic___application___history_enabled=
YARN_CONF_yarn_timeline___service_hostname=
YARN_CONF_mapreduce_map_output_compress=
YARN_CONF_mapred_map_output_compress_codec=
YARN_CONF_yarn_nodemanager_resource_memory___mb=
YARN_CONF_yarn_nodemanager_resource_cpu___vcores=
YARN_CONF_yarn_nodemanager_disk___health___checker_max___disk___utilization___per___disk___percentage=
YARN_CONF_yarn_nodemanager_remote___app___log___dir=
YARN_CONF_yarn_nodemanager_aux___services=

MAPRED_CONF_mapreduce_framework_name=
MAPRED_CONF_mapred_child_java_opts=
MAPRED_CONF_mapreduce_map_memory_mb=
MAPRED_CONF_mapreduce_reduce_memory_mb=
MAPRED_CONF_mapreduce_map_java_opts=
MAPRED_CONF_mapreduce_reduce_java_opts=
MAPRED_CONF_yarn_app_mapreduce_am_env=HADOOP_MAPRED_HOME=
MAPRED_CONF_mapreduce_map_env=HADOOP_MAPRED_HOME=
MAPRED_CONF_mapreduce_reduce_env=HADOOP_MAPRED_HOME=
